@use "variables";

$title-font: 13rem;

#form-section {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;

  form {
    background-color: #ffffff;
    border-radius: 2px;
    width: 30%;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1% 0;
    color: #000;

    h3 {
      color: variables.$accent-color;
      margin: 0;
      font-family: variables.$fun-text;
      font-size: 3rem;
    }

    > div {
      width: 90%;

      label {
        font-weight: 600;
        font-family: variables.$fun-text;
        font-size: 1.5rem;
      }

      input,
      select {
        font-size: 2rem;
        padding: 0;
        width: 100%;
        margin: 5px 0 10px 0;
        background-color: #f3f3f3;
        border: none;
        border-radius: 3px;
        padding: 5px 0;
        color: #828282;
        font-family: variables.$fun-text;
      }
    }

    select {
      color: black !important;
    }

    input[type="submit"] {
      margin: 20px 0 20px 0;
      font-family: variables.$fun-text;
      background-color: variables.$accent-color;
      border: none;
      font-size: 3rem;
      padding: 0 20px;
    }
  }
}

#metrics {
  display: flex;
  justify-content: space-between;

  div {
    width: 45%;

    input {
      width: 100%;
    }
  }
}
