#results-section {
  font-family: "Amatic SC", cursive;
  // display: flex;
  //the js controls whether the section is display (display: flex) or
  //if the display is hidden (dsiplay: none);
  padding-bottom: 2%;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;

  #results-container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, 20%);
    grid-gap: 2rem;
    width: 100%;
    justify-content: center;

    .result-card {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      h3 {
        text-align: center;
        font-size: 3rem;
        justify-self: flex-start;
        margin: 0;
        margin-top: 1rem;
      }

      .image-container {
        width: 100%;
        height: auto;
        margin: 0 auto;
        background-color: burlywood;
      }

      .text-container {
        padding: 0 5%;
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
    }
  }

  button {
    margin: 20px 0 20px 0;
    font-family: $fun-text;
    background-color: $accent-color;
    border: none;
    font-size: 3rem;
    padding: 0 20px;
    width: auto;
    margin-top: 2%;
  }
}
